@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a:not(.clear) {
  --tw-gradient-from: #ea5634;
  --tw-gradient-to: #db2777;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(234, 86, 52, 0));
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-stops)
  ) !important;
  background-clip: text !important;
  color: transparent !important;

  &:hover {
    --tw-gradient-from: #fca5a5;
    --tw-gradient-to: #f87171;
  }
}

#blobby-avatar {
  width: 400px;
  height: 400px;
  padding: 1rem;

  background-image: url(https://s3.eu-north-1.amazonaws.com/rix1.dev/first-thursday-450x450.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  animation-name: floating;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  mask-image: url(assets/blob.svg);
  mask-size: 400px;
  mask-repeat: no-repeat;
  mask-position: center;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -12px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#blur {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(75px);
  z-index: -1;
}

#blob {
  position: absolute;
  inset: 10% 10%;
  background: linear-gradient(135deg, #00eaff, #ff00ab, #ff7b00);
  opacity: 0.7;
  border-radius: 50%;
  z-index: -10;
  animation: move 12.5s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0) rotate(0deg);
    border-radius: 50%;
  }
  25% {
    transform: translateX(2rem) rotate(-90deg);
    border-radius: 40% 60% 50% 50% / 60% 40% 60% 40%;
  }
  50% {
    transform: translateX(-2rem) rotate(-180deg);
    border-radius: 50% 50% 40% 60% / 40% 60% 40% 60%;
  }
  75% {
    transform: translateX(0rem) rotate(-270deg);
    border-radius: 40% 60% 50% 50% / 60% 40% 60% 40%;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    border-radius: 50%;
  }
}

/* blob and have data-attribute data-pos */
[data-pos="top-right"] {
  bottom: -120px;
  left: 20vw;
  min-width: 200px;
  min-height: 200px;
  width: 20%;
  height: 20%;
  position: absolute;
  pointer-events: none;
}

.share-icons > a > svg {
  /* fill: transparent; */
  transition: all 0.3s ease-out;
}

.share-icons > a > small {
  opacity: 0;
  transform: scale(0.5) translateY(-0.5rem);
  color: #db2777;
  transition: all 0.3s ease-out;
  font-size: 12px;
}

/* only target svgs with stroke property */
.share-icons > a > svg[stroke] {
  fill: transparent;
}

.share-icons > a:hover > small {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 0.3s ease-out;
}

.share-icons > a:hover > svg[stroke] {
  --timing: 0.3s;
  transform: scale(1.2) translateY(-0.5rem);
  stroke: #db2777;
  transition: fill var(--timing) ease-out, transform var(--timing) ease-out;
}

.share-icons > a:hover > svg:not([stroke]) {
  --timing: 0.3s;
  transform: scale(1.2) translateY(-0.5rem);
  fill: #db2777;
  transition: fill var(--timing) ease-out, transform var(--timing) ease-out;
}
