{
  "env": {
    "browser": true
  },
  "extends": ["@otovo/eslint-config-otovo/react-recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}
